* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Helvetica';
    background: #f2f2f2;
    color: #333;
    overflow-y: hidden;
}

h1{
    font-size: 3.815rem;
    color: black;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    /*font-family:'Times New Roman', Times, serif;*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

a{
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 1.5em;
    /*padding: 0 2em;*/
    align-items: center;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:1.5em 1.5em;
    /*padding:1.5em 2em;*/
    align-items: center;
}

#nav-left,
#footer-left{
    grid-column: 1;
}

#nav-right,
#footer-right{
    grid-column: 2;
    display: flex;
    justify-content: end;
    gap: 2em;
}

.mobile-nav,
.about-page-mobile{
    display: none;
}

.overlay{
    display: none;
}

/*.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.about-page{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    box-sizing: border-box;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 200px repeat(auto-fill, 100px) 300px;
    gap: 1em;
}

.about-text{
    grid-column: 2 /span 2;
    width: 90%;
}

.clients{
    width: 100%;
    grid-column: 4;
    display: flex;
    flex-direction: column;
}

.contact{
    grid-column: 5;
    font-size: 16px;
    margin-left: -8vw;
}

.links{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.links a,
.contact a{
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 400;
}

.header{
    grid-row: 2;
    grid-column: 3 /span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img{
    width: 300px;
    height: 360px;
    grid-row: 3;
    grid-column: 4;
    margin-top: 3vw;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media (max-width:768px) {
    a{
        font-size: 14px;
    }

    .nav{
        display: none;
    }

    .footer{
        display: none;
    }

    .mobile-nav {
        /*color: #333333;*/
        color: #333;
        padding: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    #logo a{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle a{
        color: #333;
    }

    #menuToggle{
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;

    }

    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f2f2f2;
        display: flex;
        justify-content: start;
        padding: 0 2em;
        align-items: center;
        transition: left 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        gap: 6em;
        text-align: left;
    }

    .main-links,
    .secondary-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .main-links a {
        font-size: 2.5em;
        text-decoration: none;
        color: #f2f2f2;
        margin: 0;

    }

    .copy-rights{
        position: absolute;
        bottom: 2em;
        font-size: 14px;
    }

    .secondary-links p {
        font-size: 16px;
        color: #f2f2f2;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 0.2em;
    }

    .secondary-links a {
        font-size: 16px;
        color: #f2f2f2;
        font-weight: 200;
        opacity: 0.5;
        text-transform: lowercase;
    }

    .links-menu{
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .overlay.active {
        left: 0;
        color: #f2f2f2;
    }

    .about-page{
        display: none;
    }

    .about-page-mobile{
        display: flex;
        flex-direction: column;
        gap: 18vw;
    }

    .about-text{
        width: 100%;
        box-sizing: border-box;
        padding:4em 1.5em 0em 1.5em;
    }

    h1{
        font-size: 2.461rem;
        margin: 0;
        display: inline-block;
        text-wrap: nowrap;
    }

    /*.mobile-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        box-sizing: border-box;
        padding-left: 1.5em;
    }

    .left{
        grid-column: 1;
    }*/

    .mobile-content{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        box-sizing: border-box;
        padding: 1.5em;
        justify-content: space-between;
    }

    .contact{
        margin-left: 0;
        padding-top: 1em;
    }

    .img{
        width: 200px;
        height: auto;
        margin-top: 3vw;
        display: flex;
    }
    
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    /*.about-ctn{
        width: 90vw;
        box-sizing: border-box;
        height: auto;
        position: absolute;
        left: 1.5em;
        top: 10%;
    }

    .header{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1{
        font-size: 2.461rem;
        margin: 0;
        display: inline-block;
        text-wrap: nowrap;
    }

    .clients{
        position: absolute;
        top: 50%;
        left: 1.5em;
    }

    .img{
        position: absolute;
        top: calc(100% - 225px);
        left: 56%;
        width: 150px;
        height: auto;
        overflow: hidden;
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    .contact{
        position: absolute;
        left: 1.5em;
        top: 78%;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .links{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }

    .contact a{
        text-transform: lowercase;
    }*/
}


/*.img{
    position: absolute;
    top: calc(100% - 350px);
    left: 62%;
    width: 250px;
    height: auto;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}*/

/*.about-ctn{
    width: 210px;
    height: auto;
    position: absolute;
    left: 40%;
}

.about-text p,
.clients p,
.contact p,
.contact a{
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
}

.clients{
    position: absolute;
    left: 57%;
}

.contact{
    position: absolute;
    left: 68%;
    display: flex;
    flex-direction: column;
}

.contact a{
    text-transform: lowercase;
}

.links{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}*/